@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer components {
  .card-hover {
    @apply border-[1px] cursor-pointer transition-all hover:translate-x-1 hover:-translate-y-1 hover:shadow-[-4px_4px_0px_0px_#000];
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
